<!DOCTYPE html>
<html lang="en">

<head>

	<title>MDB Shop</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" href="assets/img/apple-icon.png">
	<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

	<!-- Load fonts style after rendering the layout styles -->

	<!-- Slick -->
	<link rel="stylesheet" type="text/css" href="css/slick.min.css">
	<link rel="stylesheet" type="text/css" href="css/slick-theme.css">

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/custom.css">
	<link rel="stylesheet" href="css/templatemo.css">
	<link rel="stylesheet" href="css/navbar.css">
	<link rel="stylesheet" href="css/detail.css">
	<style>
		.temp-image {
			display: none;
			position: absolute;
		  }
		  .navbar {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1000;
        }

	</style>


	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<!--
    
TemplateMo 559 Zay Shop
https://templatemo.com/tm-559-zay-shop
-->
</head>
<html xmlns:th="http://www.thymeleaf.org" th:include="nav.html">

</html>
<!-- Navbar -->

<body style="overflow-x:hidden">
	<!-- Open Content -->
	<section class="bg-light" style="padding-top:50px">
		<div class="container pb-5">
			<div class="row">
				<div class="col-lg-5 mt-5">
					<div class="card mb-3">
						<img class="card-img img-fluid" th:src="@{${'/img/'+product.color.get(0).image}}"
							alt="Card image cap" id="product-detail">
					</div>
					<div class="row">
						<!--Start Controls-->
						<div class="col-1 align-self-center">
							<a href="#multi-item-example" role="button" data-bs-slide="prev">
								<i class="text-dark fas fa-chevron-left"></i>
								<span class="sr-only">Previous</span>
							</a>
						</div>
						<!--End Controls-->
						<!--Start Carousel Wrapper-->
						<div id="multi-item-example" class="col-10 carousel slide carousel-multi-item"
							data-bs-ride="carousel">
							<!--Start Slides-->
							<div class="carousel-inner product-links-wap" role="listbox">

								<!--First slide-->
								<div class="carousel-item active">
									<div class="row">
										<div class="col-4" th:each="color: ${product.color}">
											<a href="#">
												<img class="card-img img-fluid" th:src="@{${'/img/'+color.image}}"
													alt="Product Image 1">
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--End Carousel Wrapper-->
						<!--Start Controls-->
						<div class="col-1 align-self-center">
							<a href="#multi-item-example" role="button" data-bs-slide="next">
								<i class="text-dark fas fa-chevron-right"></i>
								<span class="sr-only">Next</span>
							</a>
						</div>
						<!--End Controls-->
					</div>
				</div>
				<!-- col end -->
				<div class="col-lg-7 mt-5">
					<div class="card">
						<div class="card-body">
							<h1 class="h2"><span th:utext="${product.name}"></span></h1>
							<p class="h3 py-2"><span th:utext="${product.price}"></span></p>
							<p class="py-2">
								<i class="fa fa-star text-warning"></i>
								<i class="fa fa-star text-warning"></i>
								<i class="fa fa-star text-warning"></i>
								<i class="fa fa-star text-warning"></i>
								<i class="fa fa-star text-secondary"></i>
								<span class="list-inline-item text-dark">Rating 4.8 | 36 Comments</span>
							</p>
							<ul class="list-inline">
								<li class="list-inline-item">
									<h6 style="font-weight: bold;">Brand:</h6>
								</li>
								<li class="list-inline-item">
									<p class="text-muted"><strong th:text="${product.brand.brandName}"></strong></p>
								</li>
							</ul>

							<h6 style="font-weight: bold;">Configuration</h6>
							<p th:text="${product.contents}"></p>

							<form>
								<input type="hidden" name="product-title" value="Activewear">
								<div class="row">
									<div class="col-12">
										<span style="font-weight: bold;">
											<span>Color: </span>
											<div >
												<input type="color" th:each="color : ${product.color}" th:value="${color.colorId}" onclick="choseColor(this)" readonly disabled>
											</div>
											<select name="product_color" id="product_color">
												<option th:value="${color.colorId}" th:each="color: ${product.color}">
													<th:block th:text="${color.colorname}"></th:block>
												</option>
											</select>
										</span>
									</div>
									<div class="col-auto">
										<ul class="list-inline pb-3">
											<li class="list-inline-item text-right">
												<input style="display: none;" type="text" id="product_id" name="product_id"
													th:value="${product.id}">
												<span style="font-weight: bold;">Quantity: </span>
												<input type="number" name="product_quanity" id="product_quanity"
													style="display:none ;">
											</li>
											<li class="list-inline-item"><span class="btn btn-success"
													id="btn-minus">-</span></li>
											<li class="list-inline-item"><span class="badge bg-secondary"
													id="var-value">1</span></li>
											<li class="list-inline-item"><span class="btn btn-success"
													id="btn-plus">+</span></li>
										</ul>
									</div>
								</div>
								<div class="row pb-3">
									<div class="col d-grid">
										<button id="btnAddtocart" type="button" class="btn btn-success btn-lg"
											value="addtocard">Add To Cart</button>
											<img src="link-to-your-placeholder-image.jpg" alt="Temporary Image" id="temp-image" class="temp-image">

									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
	<!-- Close Content -->
	<!-- Start Article -->
	<div class="container mt-5 mb-5" style="overflow: hidden; ">
		<div class="row flex-column " style="width: 100vw;">

			<div class="col ">
				<div class="row d-flex">
					<div class="col-3">
						<div class="rating-block">
							<h4>Average user rating</h4>
							<h2 class="bold padding-bottom-7"><th:block th:text="${avgstar}"></th:block> <small>/ 5</small></h2>
							<div id="avgrating">

							</div>
						</div>
					</div>
					<div class="col-6">
						<h4>Rating </h4>
						<div id="rating">
							<div class="row d-flex mt-2">
								<div class="col-2">
									4 <span class="fa-solid fa-star"></span>
								</div>
								<div class="col-4">
									<div class="progress" style="height:9px; margin:8px 0;">
										<div class="progress-bar progress-bar-primary" role="progressbar"
											aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: 80%">
											<span class="sr-only">80% Complete (danger)</span>
										</div>
									</div>
								</div>
								<div class="col-3">1</div>
							</div>
							<div class="row d-flex mt-2">
								<div class="col-2">
									4 <span class="fa-solid fa-star"></span>
								</div>
								<div class="col-4">
									<div class="progress" style="height:9px; margin:8px 0;">
										<div class="progress-bar progress-bar-primary" role="progressbar"
											aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: 80%">
											<span class="sr-only">80% Complete (danger)</span>
										</div>
									</div>
								</div>
								<div class="col-3">1</div>
							</div>
							<div class="row d-flex mt-2">
								<div class="col-2">
									3 <span class="fa-solid fa-star"></span>
								</div>
								<div class="col-4">
									<div class="progress" style="height:9px; margin:8px 0;">
										<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="3"
											aria-valuemin="0" aria-valuemax="5" style="width: 60%">
											<span class="sr-only">80% Complete (danger)</span>
										</div>
									</div>
								</div>
								<div class="col-3">1</div>
							</div>
							<div class="row d-flex mt-2">
								<div class="col-2">
									2 <span class="fa-solid fa-star"></span>
								</div>
								<div class="col-4">
									<div class="progress" style="height:9px; margin:8px 0;">
										<div class="progress-bar progress-bar-warning" role="progressbar"
											aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width: 40%">
											<span class="sr-only">80% Complete (danger)</span>
										</div>
									</div>
								</div>
								<div class="col-3">1</div>
							</div>
							<div class="row d-flex mt-2">
								<div class="col-2">
									1 <span class="fa-solid fa-star"></span>
								</div>
								<div class="col-4">
									<div class="progress" style="height:9px; margin:8px 0;">
										<div class="progress-bar progress-bar-danger" role="progressbar"
											aria-valuenow="1" aria-valuemin="0" aria-valuemax="5" style="width: 20%">
											<span class="sr-only">80% Complete (danger)</span>
										</div>
									</div>
								</div>
								<div class="col-3">1</div>
							</div>
						</div>
					</div>
				</div>

			</div>

			<div class="col-5 mt-5" id="feedbacks" style="border: 1px solid white; border-radius: 10px; background-color: aliceblue;">


			</div>


		</div>

	</div>

	<div class="container-fluid mb-5">
		<div class="row justify-content-center container_hotNews">
			<div class="col-3 mb-3">
				<span style="font-size: 30px; font-weight: bold; color: rgb(0, 0, 0); width: 20px; margin-right: 10px;"
				id="categoryname"> </span> <span  style="font-size: 30px; font-weight: bold; color: rgb(0, 0, 0); width: 20px;">Related</span>
			</div>
			<div class="col-md-12">
				<div class="row justify-content-center mb-2" id="list_product">
					<div class="col-3 product mr-3 ml-3">
						<div class="row d-flex flex-column">
							<div class="col">
								<img src="img/iphone15_Black.webp" class="product_img" />
							</div>
							<div class="col">
								<span>Iphone 15</span>
							</div>
							<div class="col">
								<span>30.000.000vnd</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- End Article -->

	<!-- Start Footer -->
	<footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo">EVO Shop</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            FPT University, Hoa Lac, Ha Noi
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none" href="mailto:info@company.com">linhndhe163822@fpt.edu.vn</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Further Info</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="#">Home</a></li>
                        <li><a class="text-decoration-none" href="#">About Us</a></li>
                        <li><a class="text-decoration-none" href="#">Shop Locations</a></li>

                    </ul>
                </div>

            </div>

        </div>



    </footer>
	<!-- End Footer -->

	<!-- Start Script -->
	<script src="js/jquery-1.11.0.min.js"></script>
	<script src="js/jquery-migrate-1.2.1.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/templatemo.js"></script>
	<script src="js/script.js"></script>
	<script src="js/custom.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="assets/js/vendor/jquery.min.js"><\/script>')</script>
	<!-- End Script -->

	<!-- Start Slider Script -->
	<script src="js/slick.min.js"></script>
	<script>
		$('#carousel-related-product').slick({
			infinite: true,
			arrows: false,
			slidesToShow: 4,
			slidesToScroll: 3,
			dots: true,
			responsive: [{
				breakpoint: 1024,
				settings: {
					slidesToShow: 3,
					slidesToScroll: 3
				}
			},
			{
				breakpoint: 600,
				settings: {
					slidesToShow: 2,
					slidesToScroll: 3
				}
			},
			{
				breakpoint: 480,
				settings: {
					slidesToShow: 2,
					slidesToScroll: 3
				}
			}
			]
		});
	</script>
	<!-- End Slider Script -->
	<script th:inline="javascript">
		var product = [[${ product }]];
		$("#categoryname").text(product.category.name);
		getProductBycategory();
		function getProductBycategory() {
			$.ajax({
				type: 'GET',
				url: '/getproductbycategoty/' + product.category.id,
				dataType: 'json',
				contentType: 'application/json',
				success: function (data) {
					console.log(data);
					var list_product = document.getElementById('list_product');
					var html = '';
					data.forEach(function (p) {
						if (product.id != p.id) {
							html += getItemProduct(p);
						}
					})
					list_product.innerHTML = html;
				}
			});
		}
		function getItemProduct(product) {
			var html = '<div class="col-2">\n' +
				'                        <div class="card mb-4 product-wap rounded-0 product-related-card">\n' +
				'                            <div class="card rounded-0 card-related-image" style="min-height: 212.67px;">\n' +
				'                                <img class="card-related-img rounded-0 img-fluid" style="max-height=212.67px" src="img/' +
				product.color[0].image + '">\n' +
				'                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">\n' +
				'                                    <ul class="list-unstyled">\n' +
				'                                        <li><a class="btn btn-success text-white mt-2" href="/detail' +
				product.id + '"><i class="far fa-eye"></i></a></li>\n' +
				'                                    </ul>\n' +
				'                                </div>\n' +
				'                            </div>\n' +
				'                            <div class="card-related-body" style="min-height: 100px;">\n' +
				'                                <a style="margin-left:30px; margin-top:20px;" href="/detail' + product.id + '" class="h3 text-decoration-none">' + product.name + '</a>\n' +
				'                                <ul class="list-unstyled d-flex justify-content-center mb-1 mt-5">\n' +
				'                                    <li>\n' +
				'                                        <i class="text-warning fa fa-star"></i>\n' +
				'                                        <i class="text-warning fa fa-star"></i>\n' +
				'                                        <i class="text-warning fa fa-star"></i>\n' +
				'                                        <i class="text-muted fa fa-star"></i>\n' +
				'                                        <i class="text-muted fa fa-star"></i>\n' +
				'                                    </li>\n' +
				'                                </ul>\n' +
				'                                <p class="text-center mb-1">' + product.unit + product.price + '</p>\n' +
				'                            </div>\n' +
				'                        </div>\n' +
				'                    </div>';
			return html;
		}
	</script>
	<script th:inline="javascript">
		window.onload = getfeedback();
		function getfeedback() {
			$.ajax({
				type: 'GET',
				url: '/product/feedback/' + ([[${product}]]).id,
				dataType: 'json',
				contentType: 'application/json',
				success: function (data) {
					$("#feedbacks").html(listFeddback(data));
					
				}
			});
		}
		function listFeddback(feedbacks) {
			var html = '';
			feedbacks.forEach(function (feedback) {
				html = html + '<div class="review-block p-3 mt-3">\n' +
					'	<div class="row">\n' +
					'		<div class="col-4">\n' +
					'			<img src="'+feedback.account.picture+'" style="height: 40px;border-radius:50%" class="img-rounded">\n' +
					'			<div class="review-block-name"><span style="font-weight: bold;">' + feedback.account.name + '</span></div>\n' +
					'			<div class="review-block-date">' + feedback.date + '<br />' + feedback.time + '<br /></div>\n' +
					'		</div>\n' +
					'		<div class="col-4">\n' +
					'			<div class="review-block-rate">\n' +
					showstar(feedback.star) +
					'			</div>\n' +
					'			<div class="review-block-title">this was nice in buy</div>\n' +
					'			<div class="review-block-description">' + feedback.commen + '</div>\n' +
					'		</div>\n' +
					'	</div>\n' +

					'</div>';
			})
			return html;
		}


	</script>
	<script th:inline="javascript">

		window.onload = getReportRating();
		function getReportRating() {
			$.ajax({
				type: 'GET',
				url: '/product/reportrating/' + ([[${ product }]]).id,
				dataType: 'json',
				contentType: 'application/json',
				success: function (data) {
					var html = '';
					console.log(data);
					$("#avgrating").html(showstar([[${avgstar}]]));

					for (let i = data.rating.length - 1; i > 0; i--) {
						html = html + '<div class="row d-flex mt-2">\n' +
							'	<div class="col-2">\n' +
							'		' + i + ' <span class="fa-solid fa-star"></span>\n' +
							'	</div>\n' +
							'	<div class="col-4">\n' +
							'		<div class="progress" style="height:9px; margin:8px 0;">\n' +
							'			<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="4"\n' +
							'				aria-valuemin="0" aria-valuemax="5" style="width: ' + sumPesent(data.rating[i], data.total) + '%">\n' +
							'				<span class="sr-only">' + sumPesent(data.rating[i], data.total) + '% Complete (danger)</span>\n' +
							'			</div>\n' +
							'		</div>\n' +
							'	</div>\n' +
							'	<div class="col-3">' + data.rating[i] + '</div>\n' +
							'</div>';
					}
					$("#rating").html(html);
				}
			});
		}
		function sumPesent(number, total) {
			return Math.round((number / total) * 100);
		}
		function showstar(number) {
			var html = '';
			for (let i = 1; i <= 5; i++) {
				if (i <= number) {
					html += '   <span class="fa fa-star" style="color: orange;"></span>';
				}
				else {
					html += '  <span class="fa fa-star" ></span>';
				}
			}
			return html;
		}
		function avgStar(data, total) {
			var sum = 0;
			for (let i = 1; i <= data.length; i++) {
				sum = sum + (i * data[i]);
			}
			return showstar(Math.round(sum / total));
		}


		$("#btnAddtocart").click("click", function() {
            var formData = new FormData();
            formData.append("product_id", $("#product_id").val());
            formData.append("product_color", $("#product_color").val());
            formData.append("product_quanity", $("#product_quanity").val());
            $.ajax({
                url: "/addtocart",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function(data) {
					getTotalCart();
                },
            });
        });

		$("#btnAddtocart").click(function() {
			// Lấy ảnh sản phẩm gốc
			var productDetail = $("#product-detail");
		    var d= $("#btnAddtocart");
			// Tạo một bản sao của ảnh tạm thời
			var tempImage = $("#temp-image").clone();
			tempImage.attr("src", productDetail.attr("src")); 
			tempImage.css({
			  display: "block",
			  top: d.offset().top,
			  left: d.offset().left,
			  width: productDetail.width(),
			  height: productDetail.height(),
			  position: "absolute",
			  zIndex: 999,
			});
		  
			// Thêm ảnh tạm thời vào body
			$("body").append(tempImage);
		  
			// Thực hiện hiệu ứng bay cho ảnh tạm thời
			tempImage.animate({
			  top: $(".fa-cart-shopping").offset().top,
			  left: $(".fa-cart-shopping").offset().left,
			  width: 0,
			  height: 0,
			  opacity: 0,
			}, 1000, function() {
			  // Khi hiệu ứng hoàn thành, ẩn ảnh tạm thời
			  tempImage.hide();
			  
			});
			setTimeout(function(){
				$.ajax({
					type: 'GET',
					url: '/customer/totalofcart',
					dataType: 'json',
					contentType: 'application/json',
					success: function (data) {
						$("#totalcart").text(data);
					}
				});
			},1000);

		  });
		  
	</script>

</body>


</html>