<div class="sidebar" style="overflow: hidden;">
    <div class="row flex-column" style="margin-top: 150px; ">
        <div class="col-6"><span
                style="font-size: 30px; color: white; font-weight: bold; margin-left: 50px;">Miracle</span>
        </div>
        <div class="col mt-5 d-flex sidebar_btn" style="width: 100vw">
            <div class="d-flex align-items-center" style="margin-left: 50px; height: 45px">
                <div style="width: 30px" class="mr-3">
                    <i class="fa-solid fa-user" style="color: #ffffff"></i>
                </div>
                <a href="#" style="color: white; text-decoration: none">User profile</a>
            </div>
        </div>
        <div class="col-10 mt-4 d-flex sidebar_btn" style="width: 100vw">
            <div class="d-flex align-items-center" style="margin-left: 50px; height: 45px">
                <div style="width: 30px" class="mr-3">
                    <i class="fa-solid fa-box-open" style="color: #ffffff"></i>
                </div>

                <a th:href="@{/staff/product_management}" style="color: white; text-decoration: none">Product</a>
            </div>
        </div>
        <div class="col-10 mt-4 d-flex sidebar_btn" style="width: 100vw">
            <div class="d-flex align-items-center" style="margin-left: 50px; height: 45px">
                <div style="width: 30px" class="mr-3">
                    <i class="fa-solid fa-clipboard-list" style="color: #ffffff"></i>
                </div>

                <a th:href="@{/staff/orders}" style="color: white; text-decoration: none">Order</a>
            </div>
        </div>
    </div>
</div>