<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
        </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/list_customer.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>
        .order-button {
            cursor: pointer;
        }

        .product-table {
            display: none;
            margin-top: 10px;
            border-collapse: collapse;
        }
    </style>

</head>

<body>

    <div class="container_all">

        <div class="sidebar" style="overflow: hidden;">
            <div class="row flex-column" style="margin-top: 150px; ">
                <div class="col-6"><span
                        style="font-size: 30px; color: white; font-weight: bold; margin-left: 50px;">Miracle</span>
                </div>
                <div class="col mt-5 d-flex sidebar_btn flex-column" style="width: 100vw;">
                    <button class="d-flex align-items-center"
                        style="margin-left: 40px; height: 45px; border: none; background-color: transparent;"
                        onclick="toggleMenu()">
                        <div style="width: 30px; margin-right: 7px;">
                            <i class="fa-solid fa-user " style="color: #ffffff;"></i>
                        </div>
                        <!-- <button type="button" style="border: none; background-color: transparent;"
                            ><span style="color: white;">User</span></button> -->
                        <span style="color: white; margin-right: 60px;">User</span>
                        <div style="width: 30px;">
                            <i class="fa-solid fa-caret-down ml-3" style="color: white;"></i>
                        </div>
                    </button>
                    <div id="userSubMenu" style="display: none; ">
                        <div>
                            <a th:href="@{/admin/list_staff}"
                                style="color: black; text-decoration: none; display: block; padding: 10px;">
                                <span>
                                    <i class="fa-solid fa-user-pen"></i>
                                </span>
                                <span style="margin-left: 10px;">Staff</span>
                            </a>
                        </div>
                        <div>
                            <a style="color: black; text-decoration: none; display: block; padding: 10px;"
                                th:href="@{/admin/list_customer}" aria-expanded="false">
                                <span>
                                    <i class="fa-solid fa-user-large"></i>
                                </span>
                                <span style="margin-left: 10px;">Customer</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-10 mt-4 d-flex   sidebar_btn " style="width: 100vw;">
                    <div class="d-flex align-items-center" style="margin-left: 50px; height: 45px;">
                        <div style="width: 30px;" class="mr-3 "><i class="fa-solid fa-box-open "
                                style="color: #ffffff;"></i>
                        </div>

                        <a href="#" style="color: white; text-decoration:none ; ">Product</a>
                    </div>

                </div>
                <div class="col-10 mt-4 d-flex  sidebar_btn" style="width: 100vw;">
                    <div class="d-flex align-items-center" style="margin-left: 50px; height: 45px;">
                        <div style="width: 30px;" class="mr-3"><i class="fa-solid fa-grip" style="color: white;"></i>
                        </div>

                        <a href="#" style="color: white; text-decoration:none ;">Category</a>
                    </div>

                </div>
                <div class="col-10 mt-4 d-flex  sidebar_btn" style="width: 100vw;">
                    <div class="d-flex align-items-center" style="margin-left: 50px; height: 45px;">
                        <div style="width: 30px;" class="mr-3"><i class="fa-solid fa-clipboard-list "
                                style="color: #ffffff;"></i></div>

                        <a href="#" style="color: white; text-decoration:none ;">Order</a>
                    </div>

                </div>
            </div>
        </div>

        <div class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <!-- Navbar brand -->
                <a class="navbar-brand" href="#">
                    <img id="MDB-logo"
                        src="https://mdbcdn.b-cdn.net/wp-content/uploads/2018/06/logo-mdb-jquery-small.png"
                        alt="MDB Logo" draggable="false" height="30" />
                </a>

                <!-- Toggle button -->
                <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                    data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>

                <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Left links -->

                    <!-- Left links -->

                    <form class="d-flex align-items-center w-100 form-search mr-2">
                        <div class="input-group">
                            <input type="search" class="form-control" placeholder="Search" aria-label="Search" />
                        </div>
                        <a href="#!" class="text-white"><i class="fas fa-search ps-3"></i></a>
                    </form>

                    <ul class="navbar-nav ms-3">

                        <li class="nav-item mr-2">

                        </li>
                        <li class="nav-item" style="width: 85px;">
                            <a class="nav-link d-flex align-items-center" href="#!">Sign In</a>
                        </li>
                    </ul>
                </div>
                <!-- Collapsible wrapper -->
            </div>
        </div>

        <div class="content-container " style="padding-top: 70px;">
            <section style="background-color: #eee;" class="content">
                <div class="container py-5">
                    <h2>Staff</h2>
                    <div class="mt-4 mb-4">
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staffModal">Add
                            new</button>
                    </div>
                    <div class="container">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="main-box clearfix">
                                        <div class="table-responsive">
                                            <table class="table user-list">
                                                <thead>
                                                    <tr>
                                                        <th><span>User</span></th>
                                                        <th class="text-center"></th>
                                                        <th class="text-center"></th>
                                                        <th>&nbsp;</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="customers">

                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </div>

    </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Update Staff</h1>
                        <i class="fa fa-check-circle fa1" style="font-size:25px;color:green; display:none"></i>
                        <i class="fa fa-close fa1_" style="font-size:25px;color:red;display:none"></i>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"  aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="input-group input-group-sm mb-3" style="display:none">
                                <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 150px;">Email</span>
                                <input type="email" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-sm" id="aid_detail" required>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 150px;">Email</span>
                                <input type="email" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-sm" id="email_detail" required>
                            </div>
    
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 150px;">Name</span>
                                <input type="text" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-sm" id="name_detail" required>
                            </div>
    
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 150px;">Phone</span>
                                <input type="text" class="form-control" value="" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-sm" id="phone_detail" required>
                            </div>
    
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-sm"
                                    style="width: 150px;">Address</span>
                                <input type="text" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-sm" id="address_detail" required>
                            </div>
    
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-sm"
                                    style="width: 150px;">Password</span>
                                <input type="password" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-sm" id="password_detail" required>
                                <button type="button" id="show-password-button-update"  style="border: none; background-color: none;"><i class="fa-solid fa-eye-slash"></i></button>
                            </div>
    
                            <div>
                                <span class="alert-length" style="color: red;"></span>
                            </div>
        
                            <div class="mt-4">
                                <button type="button" class="btn btn-primary" onclick="updateStaff()" >Update</button>
                            </div>
                        </form>
                    </div>
    
                </div>
            </div>
        </div>

    <!-- Add Staff Modal -->
    <div class="modal fade" id="staffModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add Staff</h1>
                    <i class="fa fa-check-circle fa1" style="font-size:25px;color:green; display:none"></i>
                    <i class="fa fa-close fa1_" style="font-size:25px;color:red;display:none"></i>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="clere()" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 150px;">Email</span>
                            <input type="email" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-sm" id="input-email" required>
                        </div>

                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 150px;">Name</span>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-sm" id="input-name" required>
                        </div>

                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm" style="width: 150px;">Phone</span>
                            <input type="text" class="form-control" value="" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-sm" id="input-phone" required>
                        </div>

                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm"
                                style="width: 150px;">Address</span>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-sm" id="input-address" required>
                        </div>

                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm"
                                style="width: 150px;">Password</span>
                            <input type="password" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-sm" id="input-password" required>
                            <button type="button" id="show-password-button" style="border: none; background-color: none;"><i class="fa-solid fa-eye-slash"></i></button>
                        </div>

                        <div>
                            <span class="alert-length" style="color: red;"></span>
                        </div>
    
                        <div class="mt-4">
                            <button type="button" class="btn btn-primary" id="addstaff">Submit</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <script>
        let menuExpanded = false;

        function toggleMenu() {
            const userSubMenu = document.getElementById("userSubMenu");
            if (!menuExpanded) {
                userSubMenu.style.display = "block";
                menuExpanded = true;
            } else {
                userSubMenu.style.display = "none";
                menuExpanded = false;
            }
        }
    </script>

    <script>
        // Sử dụng biến cờ để theo dõi trạng thái bảng sản phẩm
        let productTableVisible = false;
        let animationFrameId;

        function showProducts(orderId) {
            const productTable = document.querySelector(`[data-order-id="${orderId}"] .product-table`);
            if (!productTableVisible) {
                // Nếu bảng sản phẩm chưa hiển thị, thực hiện hiệu ứng và mở bảng
                productTableVisible = true;
                productTable.style.maxHeight = "0";
                productTable.style.opacity = "0";
                productTable.style.display = "table";
                // Sử dụng requestAnimationFrame để thực hiện hiệu ứng mượt mà
                let maxHeight = productTable.scrollHeight;
                let currentHeight = 0;
                const startTime = performance.now();

                function animate() {
                    const currentTime = performance.now();
                    const progress = (currentTime - startTime) / 400; // 400 milliseconds for animation
                    currentHeight = progress * maxHeight;
                    productTable.style.maxHeight = currentHeight + "px";
                    productTable.style.opacity = progress;
                    if (progress < 1) {
                        animationFrameId = requestAnimationFrame(animate);
                    }
                }
                animationFrameId = requestAnimationFrame(animate);
            } else {
                // Nếu bảng sản phẩm đã hiển thị, thực hiện hiệu ứng ẩn và đóng bảng
                cancelAnimationFrame(animationFrameId);
                productTable.style.maxHeight = productTable.scrollHeight +
                    "px"; // Set max height to the full height of the table
                productTable.style.opacity = "1";
                setTimeout(function () {
                    productTable.style.maxHeight = "0";
                    productTable.style.opacity = "0";
                    productTable.style.display = "none";
                    productTableVisible = false;
                }, 400); // 400 milliseconds for animation
            }
        }
    </script>
    <script>
        getAllAccount();

        function getAllAccount(){
            $.ajax({
                type: "GET",
                url: "/api/admin/accounts/2",
                dataType: "json",
                contentType: "application/json",
                success: function(data) {
                    var html = '';
                    data.forEach(function(a){
                       html+='<tr>\n'+
                        '    <td>\n'+
                        '        <img src="/img/user.png" alt="">\n'+
                        '        <span class="user-link">'+a.email+'</span>\n'+
                        '    </td>\n'+
                        '    <td class="text-center">\n'+
                        '       '+getstatus(a)+
                        '    </td>\n'+
                        '    <td class="text-center"> <button type="button" id="delete" value="'+a.aid+'" onclick="deleteAccount(this)" class="btn btn-danger">Delete</button></td>\n'+
                        '    <td style="width: 10%;">\n'+
                        '        <button type="button" value="'+a.aid+'" onclick="inforDetail(this.value)" class="table-link"\n'+
                        '            style="border: none; background-color: transparent; color: rgb(63, 117, 253);"\n'+
                        '            data-bs-toggle="modal" data-bs-target="#exampleModal">\n'+
                        '            <span class="fa-stack">\n'+
                        '                <i class="fa fa-square fa-stack-2x"></i>\n'+
                        '                <i\n'+
                        '                    class="fa fa-search-plus fa-stack-1x fa-inverse"></i>\n'+
                        '            </span>\n'+
                        '        </button>\n'+
                        '\n'+
                        '    </td>\n'+
                        '</tr>';;
                    })
                    $("#customers").html(html);
                },
            });
        }

        function inforDetail(aid){
    
            $.ajax({
                type: "GET",
                url: "/api/admin/account/"+aid,
                dataType: "json",
                contentType: "application/json",
                success: function(data) {
                    console.log(data);
                    $("#aid_detail").val(data.aid);
                    $("#name_detail").val(data.name);
                    $("#email_detail").val(data.email);
                    $("#phone_detail").val(data.phonenumber);
                    $("#address_detail").val(data.address);
                    $("#password_detail").val(data.password);
                },
            });
        }

        function getstatus(acount){
            if(acount.status==0){
                return '<button type="button"  onclick="doban_unban('+acount.aid+','+1+')" class="btn btn-danger">Inactive</button>';
            }
            else{
                return '<button type="button"  onclick="doban_unban('+acount.aid+','+0+')" class="btn btn-success">Active</button>';
            }
        }
        function updateStaff(){
            var conf = confirm("do you want update!");
            var formData = new FormData();
            formData.append("aid",$("#aid_detail").val());
            formData.append("email",$("#email_detail").val());
            formData.append("phone",$("#phone_detail").val());
            formData.append("name",$("#name_detail").val());
            formData.append("address",$("#address_detail").val());
            formData.append("password",$("#password_detail").val());
            if(conf){
            $.ajax({
                url: "/api/admin/account/update",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function(data) {
                    if(data){
                        $(".fa1").css('display','block');
                        setTimeout(function(){
                            $(".fa1").css('display','none');
                        },5000);
                    }
                    else{
                        $(".fa1_").css('display','block');
                        setTimeout(function(){
                            $(".fa1_").css('display','none');
                        },5000);
                    }
                },
            });
        }  
        }
        function doban_unban(aid,status){
            var userInput ;
            if(status===1){
                userInput = confirm("Are you sure you want to unban ");
            }
            if(status===0){
                userInput = confirm("Are you sure you want to ban ");
            }
            var formData = new FormData();
            formData.append("aid", aid);
            formData.append("status", status);
            if (userInput) {
                $.ajax({
                    url: "/api/admin/user/ban_unban",
                    type: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(data) {
                       getAllAccount();
                    },
                  });
            }
        }
        function checkEmail(email){
            const regexPattern = /^[a-zA-Z0-9._+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/;
            return regexPattern.test(email);
        }
        function checkPhone(phone){
            const regexPattern = /^\d{10}$/; 
            return regexPattern.test(phoneNumber);
        }
        function checkPassword(password) {
            const regexPattern = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,50}$/;
            return regexPattern.test(password);
        }
        function clere(){
            $("#input-email").val("");
            $("#input-phone").val("");
            $("#input-password").val("");
            $("#input-name").val("");
            $("#input-address").val("");
        }
        $(document).ready(function(){
            var email = $("#input-email").val();
            var phone = $("#input-phone").val();
            var password = $("#input-password").val();
            var name = $("#input-name").val();
            var address = $("#input-address").val();
            if(!checkEmail(email) || !checkPassword(password)||name===""||address===""){
                $("#addstaff").prop("disabled", false);
            }
            else{
                $("#addstaff").prop("disabled", true);
            }
        })
        $("#addstaff").click(function(){
            createAccount();
        })
        function createAccount(){
            var formData = new FormData();
            formData.append("email",$("#input-email").val());
            formData.append("phone",$("#input-phone").val());
            formData.append("password",$("#input-password").val());
            formData.append("role",2);
            formData.append("status",1);
            formData.append("name",$("#input-name").val());
            formData.append("address",$("#input-address").val());
            $.ajax({
                url: "/api/admin/account/add",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function(data) {
                    if(data){
                        $(".fa1").css('display','block');
                        setTimeout(function(){
                            $(".fa1").css('display','none');
                        },5000);
                        getAllAccount();
                    }
                    else{
                        $(".fa1_").css('display','block');
                        setTimeout(function(){
                            $(".fa1_").css('display','none');
                        },5000);
                    }
                },
            });  
        }
        function deleteAccount(aid){
            var conf = confirm("Do you want to delete the account?");
            var formData = new FormData();
            formData.append("aid",aid.value);
            if(conf){
            $.ajax({
                url: "/api/admin/account/delete",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function(data) {
                    console.log(data);
                    if(data){
                        getAllAccount();
                        alert("delete success!");
                    }else if(!data){
                        alert("delete false!");
                    }
                },
            });  
           }
        }
    </script>   

    <script>
        var passwordInput = document.getElementById("input-password");
        var password2Input = document.getElementById("input-password2");
        var alertSpan = document.querySelector(".alert-match");
        var alertLength = document.querySelector(".alert-length");

        passwordInput.addEventListener("input", function () {
            var password1 = passwordInput.value;

            if (password1.length < 6) {
                alertLength.textContent = "At least 6 characters";
            } else {
                alertLength.textContent = "";
            }

        });
    </script>

    <script>
        var passwordInput = document.getElementById("input-password");
        var passwordDetail = document.getElementById("password_detail")
        var showPasswordButton = document.getElementById("show-password-button");
        var showPasswordButtonUpdate = document.getElementById("show-password-button-update");

        showPasswordButton.addEventListener("click", function () {
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
            } else {
                passwordInput.type = "password";
            }
        });
        showPasswordButtonUpdate.addEventListener("click", function () {
            if (passwordDetail.type === "password") {
                passwordDetail.type = "text";
            } else {
                passwordDetail.type = "password";
            }
        });
    </script>
</body>

</html>