<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/list_customer.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>
        .order-button {
            cursor: pointer;
        }

        .product-table {
            display: none;
            margin-top: 10px;
            border-collapse: collapse;
        }
        button {
            min-width: 100px
        }
        #customers {
            transition: all 3s linear ;
        }
    </style>

</head>

<body>

    <div class="container_all">

        <div class="sidebar" style="overflow: hidden;">
            <div class="row flex-column" style="margin-top: 150px; ">
                <div class="col-6"><span
                        style="font-size: 30px; color: white; font-weight: bold; margin-left: 50px;">Miracle</span>
                </div>
                <div class="col mt-5 d-flex sidebar_btn flex-column" style="width: 100vw;">
                    <button class="d-flex align-items-center"
                        style="margin-left: 40px; height: 45px; border: none; background-color: transparent;"
                        onclick="toggleMenu()">
                        <div style="width: 30px; margin-right: 7px;">
                            <i class="fa-solid fa-user " style="color: #ffffff;"></i>
                        </div>
                        <!-- <button type="button" style="border: none; background-color: transparent;"
                            ><span style="color: white;">User</span></button> -->
                        <span style="color: white; margin-right: 60px;">User</span>
                        <div style="width: 30px;">
                            <i class="fa-solid fa-caret-down ml-3" style="color: white;"></i>
                        </div>
                    </button>
                    <div id="userSubMenu" style="display: none; ">
                        <div>
                            <a th:href="@{/admin/list_staff}"
                                style="color: black; text-decoration: none; display: block; padding: 10px;">
                                <span>
                                    <i class="fa-solid fa-user-pen"></i>
                                </span>
                                <span style="margin-left: 10px;">Staff</span>
                            </a>
                        </div>
                        <div>
                            <a style="color: black; text-decoration: none; display: block; padding: 10px;"
                                th:href="@{/admin/list_customer}" aria-expanded="false">
                                <span>
                                    <i class="fa-solid fa-user-large"></i>
                                </span>
                                <span style="margin-left: 10px;">Customer</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-10 mt-4 d-flex   sidebar_btn " style="width: 100vw;">
                    <div class="d-flex align-items-center" style="margin-left: 50px; height: 45px;">
                        <div style="width: 30px;" class="mr-3 "><i class="fa-solid fa-box-open "
                                style="color: #ffffff;"></i>
                        </div>

                        <a href="#" style="color: white; text-decoration:none ; ">Product</a>
                    </div>

                </div>
                <div class="col-10 mt-4 d-flex  sidebar_btn" style="width: 100vw;">
                    <div class="d-flex align-items-center" style="margin-left: 50px; height: 45px;">
                        <div style="width: 30px;" class="mr-3"><i class="fa-solid fa-grip" style="color: white;"></i>
                        </div>

                        <a href="#" style="color: white; text-decoration:none ;">Category</a>
                    </div>

                </div>
                <div class="col-10 mt-4 d-flex  sidebar_btn" style="width: 100vw;">
                    <div class="d-flex align-items-center" style="margin-left: 50px; height: 45px;">
                        <div style="width: 30px;" class="mr-3"><i class="fa-solid fa-clipboard-list "
                                style="color: #ffffff;"></i></div>

                        <a href="#" style="color: white; text-decoration:none ;">Order</a>
                    </div>

                </div>
            </div>
        </div>

        <div class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <!-- Navbar brand -->
                <a class="navbar-brand" href="#">
                    <img id="MDB-logo"
                        src="https://mdbcdn.b-cdn.net/wp-content/uploads/2018/06/logo-mdb-jquery-small.png"
                        alt="MDB Logo" draggable="false" height="30" />
                </a>

                <!-- Toggle button -->
                <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                    data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>

                <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Left links -->

                    <!-- Left links -->

                    <form class="d-flex align-items-center w-100 form-search mr-2">
                        <div class="input-group">
                            <input type="search" class="form-control" placeholder="Search" aria-label="Search" />
                        </div>
                        <a href="#!" class="text-white"><i class="fas fa-search ps-3"></i></a>
                    </form>

                    <ul class="navbar-nav ms-3">

                        <li class="nav-item mr-2">

                        </li>
                        <li class="nav-item" style="width: 85px;">
                            <a class="nav-link d-flex align-items-center" href="#!">Sign In</a>
                        </li>
                    </ul>
                </div>
                <!-- Collapsible wrapper -->
            </div>
        </div>

        <div class="content-container " style="padding-top: 70px;">
            <section style="background-color: #eee;" class="content">
                <div class="container py-5">
                    <h2>Customer</h2>
                    <div class="container">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="main-box clearfix">
                                        <div class="table-responsive">
                                            <table class="table user-list">
                                                <thead>
                                                    <tr>
                                                        <th><span>User</span></th>
                                                        <th class="text-center"></th>
                                                        <th class="text-center"></th>
                                                        <th>&nbsp;</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="customers">

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Customer Information</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0" >Full Name</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class=" mb-0" id="name_detail">Johnatan Smith</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Email</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class=" mb-0" id="email_detail">example@example.com</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Phone</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class=" mb-0" id="phone_detail">(097) 234-5678</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0" >Address</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class=" mb-0" id="address_detail">Bay Area, San Francisco, CA</p>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        let menuExpanded = false;

        function toggleMenu() {
            const userSubMenu = document.getElementById("userSubMenu");
            if (!menuExpanded) {
                userSubMenu.style.display = "block";
                menuExpanded = true;
            } else {
                userSubMenu.style.display = "none";
                menuExpanded = false;
            }
        }
    </script>

    <script>
        // Sử dụng biến cờ để theo dõi trạng thái bảng sản phẩm
        let productTableVisible = false;
        let animationFrameId;

        function showProducts(orderId) {
            const productTable = document.querySelector(`[data-order-id="${orderId}"] .product-table`);
            if (!productTableVisible) {
                // Nếu bảng sản phẩm chưa hiển thị, thực hiện hiệu ứng và mở bảng
                productTableVisible = true;
                productTable.style.maxHeight = "0";
                productTable.style.opacity = "0";
                productTable.style.display = "table";
                // Sử dụng requestAnimationFrame để thực hiện hiệu ứng mượt mà
                let maxHeight = productTable.scrollHeight;
                let currentHeight = 0;
                const startTime = performance.now();

                function animate() {
                    const currentTime = performance.now();
                    const progress = (currentTime - startTime) / 400; // 400 milliseconds for animation
                    currentHeight = progress * maxHeight;
                    productTable.style.maxHeight = currentHeight + "px";
                    productTable.style.opacity = progress;
                    if (progress < 1) {
                        animationFrameId = requestAnimationFrame(animate);
                    }
                }
                animationFrameId = requestAnimationFrame(animate);
            } else {
                // Nếu bảng sản phẩm đã hiển thị, thực hiện hiệu ứng ẩn và đóng bảng
                cancelAnimationFrame(animationFrameId);
                productTable.style.maxHeight = productTable.scrollHeight +
                "px"; // Set max height to the full height of the table
                productTable.style.opacity = "1";
                setTimeout(function() {
                    productTable.style.maxHeight = "0";
                    productTable.style.opacity = "0";
                    productTable.style.display = "none";
                    productTableVisible = false;
                }, 400); // 400 milliseconds for animation
            }
        }
    </script>
    <script>
        getAllAccount();

        function getAllAccount(){
            $.ajax({
                type: "GET",
                url: "/api/admin/accounts/1",
                dataType: "json",
                contentType: "application/json",
                success: function(data) {
                    var html = '';
                    data.forEach(function(a){
                       html+='<tr>\n'+
                        '    <td>\n'+
                        '        <img style="border-radius:50%" src="'+a.picture+'" alt="">\n'+
                        '        <span class="user-link">'+a.email+'</span>\n'+
                        '    </td>\n'+
                        '    <td class="text-center">\n'+
                        '       '+getstatus(a)+
                        '    </td>\n'+
                        '    <td class="text-center"> <button type="button" id="delete" value="'+a.aid+'" onclick="deleteAccount(this)" class="btn btn-danger">Delete</button></td>\n'+
                        '    <td style="width: 10%;">\n'+
                        '        <button type="button" value="'+a.aid+'" onclick="inforDetail(this.value)" class="table-link"\n'+
                        '            style="border: none; background-color: transparent; color: rgb(63, 117, 253);"\n'+
                        '            data-bs-toggle="modal" data-bs-target="#exampleModal">\n'+
                        '            <span class="fa-stack">\n'+
                        '                <i class="fa fa-square fa-stack-2x"></i>\n'+
                        '                <i\n'+
                        '                    class="fa fa-search-plus fa-stack-1x fa-inverse"></i>\n'+
                        '            </span>\n'+
                        '        </button>\n'+
                        '\n'+
                        '    </td>\n'+
                        '</tr>';
                    })
                    $("#customers").html(html);
                },
            });
        }

        function inforDetail(aid){
            $.ajax({
                type: "GET",
                url: "/api/admin/account/"+aid,
                dataType: "json",
                contentType: "application/json",
                success: function(data) {
                    $("#name_detail").html(data.name);
                    $("#email_detail").html(data.email);
                    $("#phone_detail").html(data.phonenumber);
                    $("#address_detail").html(data.address);
                },
            });
        }

        function getstatus(acount){
            if(acount.status==0){
                return '<button type="button"  onclick="doban_unban('+acount.aid+','+1+')" class="btn btn-danger">Inactive</button>';
            }
            else{
                return '<button type="button"  onclick="doban_unban('+acount.aid+','+0+')" class="btn btn-success">Active</button>';
            }
        }
        function doban_unban(aid,status){
            var userInput ;
            if(status===1){
                userInput = confirm("Are you sure you want to unban ");
            }
            if(status===0){
                userInput = confirm("Are you sure you want to ban ");
            }
            var formData = new FormData();
            formData.append("aid", aid);
            formData.append("status", status);
            if (userInput) {
                $.ajax({
                    url: "/api/admin/user/ban_unban",
                    type: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(data) {
                       getAllAccount();
                    },
                  });
            }
        }
        function deleteAccount(aid){
            var conf = confirm("Do you want to delete the account?");
            var formData = new FormData();
            formData.append("aid",aid.value);
           if(conf){
            $.ajax({
                url: "/api/admin/account/delete",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function(data) {
                    console.log(data);
                    if(data){
                        getAllAccount();
                        alert("delete success!");
                    }else if(!data){
                        alert("delete false!");
                    }
                },
            });  
           }
            
        }
    </script>           
</body>

</html>